*{
    position:relative;
    overflow:hidden;
    background-color: rgb(0, 18, 33);
    color:rgb(160, 155, 140);
    padding: 0px;
}
#leftsInMcseeeNums{
    overflow: hidden;
    float:left;
    height: 100vh;
    width:62.3vh;
    overflow: hidden;
    }
    #indL{
        overflow: hidden;
        box-sizing: border-box;
        display:block;
        align-content: top;
        color:aliceblue;
        font-size: 500%;
        float:left;
        height: 100vh;
        width: fit-content;
        background-color: rgb(0, 18, 33);
    }
    .bin{
        display: flex;
        vertical-align: top;
        padding: 0%;
        border: hidden;
    }
    .bin + .bin{
        margin-top:30px
    }
    #mcseeeNnums{
        overflow: hidden;
        float: right;
        height: 100%;
        width:55vh;
        border-right:6px solid;
        border-color: rgb(120, 90, 40);
    }
    #mcseee{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        overflow: visible;
        
        color: aliceblue;
        
        background-color: rgb(0, 18, 33);
        padding-top:0px;
        margin: 0px;
        height: 10%;
        width:100%;
    }
    #materiais{
        width: 300px;
        height: 600px;
        position:relative;
        hr{
            border-color:rgb(120, 90, 40);
        }
    }
    #sbme{
        margin-top: 6%;
        height: 25px;
        background-color: rgb(0, 5, 11);
        border-color: rgb(120, 90, 40);
        border-style:solid;
        border-width: 1px;
    }
    /* drop down de organizacao do lado da searchbar*/
    .orgbutt{
        background-color: rgb(15,28,40);
        margin-left: 3%;
        margin-top: 25%;
    }
    .drop-orgbutt{
        overflow-y: auto;
        position: relative;
        display: inline-block;
        height:70px;
        padding-bottom: 0px;
    }
   .orgbutt-content{
    display: none;
    position:absolute;
    min-width: 50px;
    z-index: 10000;
   }
   .drop-orgbutt:hover .orgbutt-content{display:block;}
   .drop-orgbutt:hover .orgbutt{background-color: rgb(15, 27, 36);}
    /*scrollbar*/
    .scrollb{
          ::-webkit-scrollbar {
            width: 13px;
            height: 13px;
          }
          ::-webkit-scrollbar-thumb {
            background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
            border-radius: 10px;
          }
          ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
          }
          ::-webkit-scrollbar-track {
            background: #ffffff;
            border-radius: 10px;
            box-shadow: inset 7px 10px 12px #f0f0f0;
          }
    }

    /*scrollbar end*/
    #baus1{
        height: 50px;
        width: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-image: url("/loot-league/static/imageAs/hextec.png");
        background-size: contain;
        display:none;
        margin:2px;
        border-style: solid;
        border-color: rgb(120, 90, 40);
    }
    .rtex{
        color:red;
    }
    .gtex{
        color:greenyellow;
        animation-name: gtexto;
	    animation-duration: 2s;
	    animation-iteration-count: 1;
	    animation-timing-function: linear;
	    animation-fill-mode: forwards;
        
    }
    @keyframes gtexto {
        0%{
            opacity: 0;
            display:flex;
        }
        25%{
            opacity: 1;
        }
        50%{
            opacity: 1;
        }
        75%{
            opacity: 0;
        }
        100%{
            opacity: 0;
            display:none;
        }
    }
    #nums{
        box-sizing: border-box;
        /* trocar border por um coisinho de scroll (pra quem for fazer)*/
        border-top: 6px solid;
        border-color: rgb(120, 90, 40);
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: left;
        position:absolute;
        bottom: 0;
        background-color: rgb(0, 18, 33);
        color: aliceblue;
        height: 12vh;
        width: 56vh;
    }
.info + .info{
    margin-left: 10px;
}
#rights{
    overflow: hidden;
    box-sizing: border-box;
    float: right;
    background-color:rgb(0, 18, 33);
    height: 100vh;
    width:138.1vh;
    h1{
        color:aliceblue;
    }
}
#showR{
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-left: 20%;
  display: none;
  align-items: flex-end;
  text-align: center;
}
.moldicon{
    align-self: center;
    height: 100%;
    width: 100%;
}
#acaoSh{
    position:absolute;
    margin-bottom: 15%;
    margin-right: 15%;
    bottom: 0;
    right:3;
}
/* MODAL COLECAO */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalCont {
    background-color: rgb(0, 18, 33);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 620px;
    height: 520px;
  }
  #left{
    float: left;
  }
  #right{
    float: right;
    
  }
  #formlog, #formlogA{
    overflow: hidden;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #buttlog{
    background: transparent;
    margin-top: 5px ;
  }
  #buttclean{
    background: transparent;
    border: none;
  }
  #iflog{
    padding-top: 25%;
    height: 250px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }