* {
  overflow: auto;
  background-color: rgb(0, 18, 33);
  color: rgb(160, 155, 140);
  padding: 0px;
}
body,
html {
  height: fit-content;
  width: 100%;
  overflow: hidden;
}

#grandiv {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#leftsInMcseeeNums {
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 40%;
  overflow: hidden;
}

#indL {
  padding: 0;
  margin: 0;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  color: aliceblue;
  font-size: 500%;
  height: 100%;
  width: 10%;
  background-color: rgb(0, 18, 33);
}

.org {
  display: flex;
  vertical-align: top;
  padding: 0%;
  border: hidden;
}

.bin {
  display: flex;
  vertical-align: top;
  padding: 0%;
  border: hidden;
  background-color: none;
}
.brightness{
  filter:brightness(0.25);
}
.bin+.bin {
  margin-top: 30px
}
#imgbut{
  margin-top:80%;
  
}
#mcseeeNnums {
  margin: 0;
  padding: 0;
  overflow: auto;
  float: right;
  height: 100%;
  width: 88%;
  border-right: 6px solid;
  border-color: rgb(120, 90, 40);
}

#colecC, #colecS{
  display: inline-flex;
  flex-wrap: wrap;
  width: 600px;
}

#mcseee {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  box-sizing: border-box;
   overflow: auto;
  margin: 0;
  color: aliceblue;

  background-color: rgb(0, 18, 33);
  padding-top: 0px;
  margin: 0px;
  height: 12%;
  width: 30%;
}

#materiais {
  overflow-y:scroll;
  width: 30%;
  height: 76%;
  display: inline-block;
  position: fixed;
  margin-top: 5%;

  hr {
    border-color: rgb(120, 90, 40);
  }
}

#sbme {
  margin-top: 6%;
  height: 25px;
  background-color: rgb(0, 5, 11);
  border-color: rgb(120, 90, 40);
  border-style: solid;
  border-width: 1px;
}

#baus1 {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("/loot-league/static/imageAs/hextec.png");
  background-size: contain;
  display: none;
  margin: 2px;
  border-style: solid;
  border-color: rgb(120, 90, 40);


}

.rtex {
  color: red;
}

.gtex {
  color: greenyellow;
  animation-name: gtexto;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

@keyframes gtexto {
  0% {
    opacity: 0;
    display: flex;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

#nums {
  position: fixed;
  box-sizing: border-box;
  /* trocar border por um coisinho de scroll (pra quem for fazer)*/
  border-top: 6px solid;
  border-color: rgb(120, 90, 40);
  display: flex;
  flex-direction: row;
  justify-content: left;
  bottom: 0;
  background-color: rgb(0, 18, 33);
  color: aliceblue;
  height: 12vh;
  width: 50%;
}

.info+.info , .bin + .info{
  margin-left: 25px;
}

.info{
  overflow: hidden;
}
#rights {
  display: inline-block;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgb(0, 18, 33);
  height: 100%;
  width: 50%;

  h1 {
    color: aliceblue;
  }
}

#showR {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: 20%;
  display: none;
  align-items: flex-end;
  text-align: center;
}
#moldR{
  padding-bottom: 0px;
  padding-left: 100%;
}
#imgR{
  z-index: 6;
  position: absolute;
  height: 95%;
  width: 95%;
  border-radius: 50%;
  align-self: center;
  top: 2.5%;
  left:2.5%;
  transform: rotateX(180deg);
}
.cut{
  z-index: 10;
  position: absolute;
  background: url('/loot-league/static/imageAs/intbord.png');
  background-repeat: no-repeat;
  border: none;
   box-shadow: none;
   height: 100%;
   width:100%;
   bottom:2%;
   left: 23%;
   margin: 0px 0px 0px 0px;
   padding: 0%;
}

.moldicon {
  align-self: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  overflow: hidden;
}

#acaoSh {
  position: absolute;
  height: 12%;
  width: 26%;
  z-index: 12;
  margin-bottom: 16%;
  margin-left: 10%;
  left: 0;
  bottom: 0;
}


/* MODAL COLECAO */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
}

/* itens modal colecao */
.colit {
  width: 150px;
  height: 300px;
  object-fit: cover;
}

.colit+.colit {
  margin-left: 5px;
}

/* Modal Content */
.modalCont {
  overflow: auto;
  background-color: rgb(0, 18, 33);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(120, 90, 40);
  width: 620px;
  height: 520px;
}

/* Botao de fechar */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modol {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 25%;
  padding-right: 40%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.0);
}

.choicecont {
  overflow: auto;
  background-color: rgb(0, 18, 33);
  margin-top: 0;
  margin-left: 15%;
  padding: 20px;
  border: 1px solid rgb(120, 90, 40);
  width: 10%;
  height: 10%;
}

/* drop down de organizacao do lado da searchbar*/
.orgbutt {
  overflow: hidden;
  background-color: rgb(15, 28, 40);
  margin-left: 3%;
  margin-top: 25%;
}

.drop-orgbutt {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: inline-block;
  height: 70px;
  width: 70px;
  padding-bottom: 0px;
}

.orgbutt-content {
  display: none;
  position: absolute;
  min-width: 50px;
  z-index: 10000;
}

.drop-orgbutt:hover .orgbutt-content {
  display: block;
}

.drop-orgbutt:hover .orgbutt {
  background-color: rgb(15, 27, 36);
}

/*scrollbar*/
  ::-webkit-scrollbar {
    visibility: visible;
    width: 7px;
    height: inherit;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(120, 90, 40);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;
  }


/*scrollbar end*/
/*load item*/
#loading {
  width: 470px;
  height: 470px;
  margin: 30px auto;
  margin-right: 20%;
  position: relative;
  transform: rotateX(180deg);
}
.outer-shadow,
.inner-shadow {
  z-index: 4;
  position: absolute;
  width: 470px;
  height: 470px;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inner-shadow {
  top: 50%;
  left: 50%;
  width: 470px;
  height: 470px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 100%;
  background-color: rgb(15, 27, 36);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/*background*/
.hold {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0px, 470px, 470px, 235px);
  border-radius: 100%;
  background-color: rgb(15, 27, 36);
}
/*cor*/
.fill,
.dot span {
  background-color: rgb(52,200,230);
}
.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 235px, 470px, 0px);
}
.left .fill {
  z-index: 1;
  -webkit-animation: left 1s linear;
  -moz-animation: left 1s linear;
  animation: left 1s linear both;
}
@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.right {
  z-index: 3;
  transform: rotateY(180deg);
}
.right .fill {
  z-index: 3;
  -webkit-animation: right 1s linear;
  -moz-animation: right 1s linear;
  animation: right 1s linear both;
}
@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.inner-shadow img {
  margin-left: 8px;
  margin-top: 7px;
}
/*load item end*/